* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a{
  color: #212e44;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}
.header {
  padding: 30px 0;
  /* background-color: #005eff; */
}

.header__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

li {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  color: #212e44;
}

.header__btn {
  padding: 10.5px 20px;
  border-radius: 6px;
  background-color: #f65a03;
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;
  border: none;
}

span {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 800;
  line-height: 54.47px;
  text-align: left;
  color: #f65a03;
}


.home__title {
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 800;
  line-height: 54.47px;
  text-align: left;
}

.home__inner {
  display: flex;
  justify-content: space-between;
}
.home__inner .btn {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  border: none;
  border-radius: 6px;
  display: none;
  height: -moz-fit-content;
  height: fit-content;

}
.home__btn{
  background-color: #F65A03;
  height: fit-content;
  margin-top: 30px;
  padding: 16px 22px;
  color: white;
}
.home__inner .btn span {
  transform: translateY(-5px);
  display: inline-block;
}
.home__inner .btn img {
  margin-left: 15px;
}

.home__figma {
  background: #f6f6f6;
  padding: 1px 0;
  border-radius: 16px;
}

.home__cards__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.home__cards__wrapper .card {
  width: 100%;
  min-height: 156px;
  text-align: center;
  align-content: center;
  background-color: white;
  border-radius: 12px;
  border: 1.5px solid #e1e1e1;
  box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.0509803922);
  margin-top: 73px;
  border-bottom: 5px solid #f67803;
}
.home__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}
.home__cards .card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 10px;
  border-radius: 15px;
}
.home__cards .card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.home__cards .tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.36px;
}
.home__cards .card h3 {
  margin: 20px;
  font-size: 18px;
}
.home__cards .card p {
  margin: 20px 20px 10px;
  font-size: 14px;
  color: #374357;
  text-wrap: wrap;
}
.home__cards .card span  {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left; 
  display: block;
}
.home__cards .card .buttons{
  display: flex;
  justify-content: space-between;
}

.menubar{
  margin-bottom: 100px;
}
.team {
  position: relative;
  margin-top: 100px;
}

.team__universe-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 110%;
  z-index: 1;
}

.hero {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: url("background.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero img {
  position: absolute;
}

.astronaut {
  width: 30%;
  top: 35%;
  left: 13%;
}

.team__ufo {
  width: 13%;
  top: 27%;
  left: 0;
}

.team__spacex {
  width: 20%;
  bottom: 10%;
  right: 0;
}

.team__earth {
  width: 50%;
  top: 25%;
  transform: translateY(320px);
}

.team__content {
  background: rgba(27, 62, 92, 0.768627451);
  padding: 33px 30px;
  border-radius: 22px;
  width: 50%;
  color: white;
  text-align: left;
  margin-left: auto;
}

.team__content h2 {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}

.team__content p {
  margin: 20px 0;
  border-left: 6px solid #f65a03;
  padding-left: 20px;
}

footer{
position: relative;
z-index: 10;
}
@media screen and (max-width: 800px) {
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5),
  li:nth-child(6),
  .header__btn:nth-child(9) {
    display: none;
  }
}


@media screen and (max-width: 992px) {
  .home__cards__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .menubar {
    display: none;
    z-index: 5;
  }
  .home__cards__wrapper {
    grid-template-columns: auto auto;
  }
  .home__cards__wrapper .card {
    margin: 0;
  }
  .home__inner .home__btn {
    display: block;
  }
  
    .home__cards {
      grid-template-columns: 1fr;
    }
  .home__cards .card-mobile {
    display: none;
  }
  .team__content {
    width: 100%;
  }
  .team__spacex {
    top: 20%;
    right: 30px;
    width: 120px;
  }
  .team .hero {
    height: 500px;
  }
  .team__content p {
    border: none;
    padding-left: 0;
  }
  .team__btn {
    transform: translate(0);
  }
  .team__ufo {
    width: 100px;
    top: 50px;
    left: 20px;
  }
  .team .astronaut {
    bottom: 0;
    top: auto;
    z-index: 2;
  }
}


.footer {
  background-color: #212e44;
  border-radius: 20px 20px 0 0;
  padding: 65px 0;
}

.footer__dflex {
  display: flex;
  /* gap: 81px; */
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  /* justify-content: space-between; */
  gap: 81px;
}

.footer__section {
  display: flex;
  justify-content: space-between;
}

.footer__section--link {
  display: flex;
  gap: 39px;
}

.footer__text-h {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 40.85px;
  text-align: left;
  color: #e9e9e9;
  padding-bottom: 30px;
}

.footer__menu--link {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: left;
  color: #ffffff;
}

.footer__li {
  padding-bottom: 30px;
}

.footer__section {
  background-color: #1c2940;
  padding: 39px 0;
}

.footer__section-dflex {
  display: flex;
  justify-content: space-between;
}

.footer__link-a {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #7a828f;
}

.footer__img {
  padding-right: 10pxs;
}

/* @media screen and (max-width: ){

} */
@media screen and (max-width: 881px) {
  .footer__dflex {
    flex-direction: column;
  }

  .footer__menu {
    display: none;
  }
}

@media screen and (max-width: 677px) {
  .footer__section-dflex {
    flex-direction: column;
  }
}
